.start-main-mobile{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-mobile{
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #522546;
    color: white;
    font-size: 18px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.back-mobile{
    padding: 15px;
    border: 2px solid #522546;
    border-radius: 5px;
    background-color: white;
    color: #522546;
    font-size: 18px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.submit-mobile{
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #522546;
    color: white;
    font-size: 18px;
    width: 60%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.field-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px; /* Space between each set of inputs */
}

.prescription-input {
    width: 37%; /* Adjust the width to fit two fields side by side */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

.prescription-input:focus {
    border-color: #522546; /* Change border color on focus */
    outline: none;
    box-shadow: 0 0 8px rgba(82, 37, 70, 0.2);
}

.medicines-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.medicines-table th, .medicines-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.medicines-table th {
    background-color: #522546;
    color: white;
    font-weight: bold;
}

.medicines-table tr:hover {
    background-color: #f5f5f5;
}

.medicines-table tr:last-child td {
    font-weight: bold;
}
